.mega header {
  background: url('../img/mega/header.png') center center / 300px 60px repeat;
}

html.mega, body.mega {
  color: #505050;
  background-color: #FFCCC5;
}

.mega footer {
  background: url('../img/mega/footer.png') repeat center center / 235px 75px;
  padding-top: 21px;
}

.mega .box {
  border-image: url('../img/mega/border.png');
  border-image-slice: 30 36 36 30;
  border-image-repeat: repeat;
}  

.mega #theme-change {
  color: #868686;
}

.mega #location-description {
  color: #868686;
}

.mega a, 
.mega a:hover, 
.mega a:hover, 
.mega a:active, 
.mega a:visited {
    color: #337ab7;
}

.mega .link-info .username, 
.mega #projects .description, 
.mega #writing .date, 
.mega #schedule .info, 
.mega #schedule .past .title {
  color: #868686;
}

.mega #nav li.active::before {
    background-image: url('../img/mega/arrow-right.png');
}

.mega #nav li.active::after {
    background-image: url('../img/mega/arrow-left.png');
}

.mega #nav a, 
.mega #nav a:visited {
    color: #FFF;
}

.mega #nav a:hover::before, 
.mega #links a:hover::before, 
.mega #work a:hover::before {
    background-image: url('../img/mega/arrow-right.png');
}

.mega #links li {
    border-bottom: 2px solid #64b0ff;
}

.mega #links li:last-child {
    border-bottom: none;
}

.mega #mail-image {
    background: url("../img/mega/mail.png");
}

.mega #twitter-image {
    background: url("../img/mega/twitter.png");
}

.mega #github-image {
    background: url("../img/mega/github.png");
}

.mega #stackoverflow-image {
    background: url("../img/mega/stackoverflow.png");
}

.mega #codepen-image {
    background: url("../img/mega/codepen.png");
}

.mega #linkedin-image {
    background: url("../img/mega/linkedin.png");
}

.mega #steam-image {
    background: url("../img/mega/steam.png");
}

.mega #facebook-image {
    background: url("../img/mega/facebook.png");
}




