.pac header {
  background: url('../img/pac/header.png') center center / 155px 75px repeat;
}

html.pac, body.pac {
  color: #ea9e22;
  background-color: #000;
}

.pac footer {
  background: url('../img/pac/footer.png') repeat center center / 158px 75px;
  padding-top: 42px;
}

.pac .box {
  border-image: url('../img/pac/border.png');
  border-image-slice: 30 30 30 30;
  border-image-repeat: repeat;
} 

.pac #theme-change {
  color: #b53120;
}

.pac #location-description {
  color: #fff;
}

.pac a, 
.pac a:hover, 
.pac a:hover, 
.pac a:active, 
.pac a:visited {
    color: #b53120;
}

.pac .link-info .username, 
.pac #projects .description, 
.pac #writing .date, 
.pac #schedule .info, 
.pac #schedule .past .title {
  color: #fff;
}

.pac #nav li.active::before {
    background-image: url('../img/pac/arrow-right.png');
}

.pac #nav li.active::after {
    background-image: url('../img/pac/arrow-left.png');
}

.pac #nav a, 
.pac #nav a:visited {
    color: #b53120;
}

.pac #nav a:hover::before, 
.pac #links a:hover::before, 
.pac #work a:hover::before {
    background-image: url('../img/pac/arrow-right.png');
}

.pac #links li {
    border-bottom: 2px solid #155fd9;
}

.pac #links li:last-child {
    border-bottom: none;
}

.pac #twitter-image {
  content:url('../img/pac/twitter.png');
}

.pac #github-image {
  content:url('../img/pac/github.png');
}

.pac #stackoverflow-image {
  content:url('../img/pac/stackoverflow.png');
}

.pac #codepen-image {
  content:url('../img/pac/codepen.png');
}

.pac #linkedin-image {
  content:url('../img/pac/linkedin.png');
}

.pac #steam-image {
  content:url('../img/pac/steam.png');
}

.pac #facebook-image {
  content:url('../img/pac/facebook.png');
}

.pac #mail-image {
  content:url('../img/pac/mail.png');
}

/*
black: #000;
white: #fff;
orange: #ea9e22;
blue: #155fd9;
dark red: #6c0700;
light red: #b53120;
*/







