/************************
* Shared
************************/

* {
    box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
    clear: both;
}

.loader {
    text-align: center;
}

.loader img {
    width: 50%;
}



.box {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    border: 20px solid black;
    border-image: url("../img/mega/border.png");
    border-image-slice: 30 36 36 30;
    border-image-repeat: repeat;
}

.box:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.tall-box-fixed {
    height: 693px;
}

ul {
    list-style: none;
    margin-bottom: 0px;
    margin-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

li {
    padding-top: 2px;
    margin-bottom: 15px;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: #337ab7;
}

#nav a:hover::after {
    position: absolute;
    margin-right: 25px;
    margin-top: 3px;
    background-image: url('../img/mega/arrow-left.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content:"";
}

#links a:hover::before, #work a:hover::before {
    position: absolute;
    margin-left: -25px;
    margin-top: 3px;
    background-image: url('../img/mega/arrow-right.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content:"";
}

#links a:hover::before {
    margin-top: 15px;
}

#work a:hover::before {
    margin-top: -2px;
}

.link-info .service, #projects .title {
    font-size: 1.3em;
}

.link-info .username, #projects .info {
    padding-left: 2px;
    color: #868686;
    font-size: .8em;
}

#projects h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
}

#photos img {
    width: 100%;
}

/************************
* Main
************************/

html, body {
    height: 100%;
    font-size: 10px;
    font-family: 'Press Start 2P', serif;
    color: #505050;
    background-color: #FFCCC5;
}

#wrapper {
    min-height: 100%;
}

#content {
    width: 1024px;
    margin: 10px auto 0px;
    overflow: auto;
    padding-bottom: 65px;
}

.theme-change {
    color: #868686;
    font-size: .8em;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

#theme-change-top-row {
    display: none;
}

/************************
* Header/Footer
************************/

header {
    height: 60px;
    background: url("../img/mega/header.png") repeat center center;
    background-size: 300px 60px;
}

footer {
    text-align: center;
    position: relative;
    height: 75px;
    padding-top: 21px;
    margin-top: -75px; /* negative value of footer height */
    background: url("../img/mega/footer.png") repeat center center;
    background-size: 235px 75px;
    clear: both;
}

/************************
* Navigation
************************/

#nav {
    margin-top: 15px;
    padding: 10px;
    list-style: none;
    text-align: right;
}

#nav li.active::before {
    position: absolute;
    margin-left: -25px;
    margin-top: 3px;
    background-image: url('../img/mega/arrow-right.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content:"";
}

#nav li.active::after {
    position: absolute;
    margin-right: 25px;
    margin-top: 3px;
    background-image: url('../img/mega/arrow-left.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content:"";
}

#nav a, #nav a:visited  {
    font-size: 1.75em;
    text-decoration: none;
    color: #FFF;
}

#nav-content .nav-pane {
    display: none;
    width: 100%;
}

#nav-content .active {
    display: inline-block;
}

#nav-content {
    padding-left: 0px;
    padding-right: 0px;
}

#nav-wrapper h1 {
    font-size: 2em;
    text-align: right;
}

/************************
* PGP Info
************************/

#pgp-info {
    height: 256px;
}

#pgp-info h1 {
    text-align: center;
    font-size: 11px;
    margin-bottom: 20px;
}

.pgp-key {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.pgp-link {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#pgp-info-compact {
    display: none;
}

/************************
* Bio
************************/
#bio {
    position: relative;
}

#bio .text-content {
    line-height: 1.5;
}

#bio p {
    margin-bottom: 20px;
}

/************************
* Location
************************/

#location-wrapper {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 97%;
}

#location-map {
    overflow: hidden;
    border-radius: 3px;
}

#location-map img {
    width:100%;
}

#location-description {
    color: #868686;
    font-size: .8em;
    margin-top: 10px;
    margin-bottom: 5px;
}



/************************
* Pictures
************************/

#pictures img, #pictures-compact img {
    width: 100%;
    height: auto;
}

#pictures-compact-container {
    display: none;
}

/************************
* Links
************************/

#links .logo {
    width: 60px;
    height: 60px;
    display: inline-block;
    background-size: 100% 100%;
}

#mail-image {
    background: url("../img/mega/mail.png");
}

#twitter-image {
    background: url("../img/mega/twitter.png");
}

#instagram-image {
    background: url("../img/mega/instagram.png");
}

#github-image {
    background: url("../img/mega/github.png");
}

#stackoverflow-image {
    background: url("../img/mega/stackoverflow.png");
}

#codepen-image {
    background: url("../img/mega/codepen.png");
}

#linkedin-image {
    background: url("../img/mega/linkedin.png");
}

#steam-image {
    background: url("../img/mega/steam.png");
}

#facebook-image {
    background: url("../img/mega/facebook.png");
}


#links li {
    position: relative;
    margin-bottom: 19px;
    padding-bottom: 19px;
    border-bottom: 3px solid #64b0ff;
}

#links li:last-child {
    margin-bottom: 19px;
    border-bottom: none;
}

.link-info {
    display: inline-block;
    padding-left: 10px;
    padding-bottom: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}




/************************
* Resume
************************/

#resume iframe {
    width: 100%;
    min-height: 1150px;
    margin-bottom: 15px;
}




/************************
* Media Queries
************************/

@media screen and (max-width: 1200px) {

    html, body {
        font-size: 9px;
    }

    #content {
        width: 768px;
    }

    #nav-wrapper h1 {
        font-size: 1.6em;
    }

    .username {
        display: none;
    }

    #pgp-info {
        height: 225px;
    }
    
    #pgp-info h1 {
        text-align: center;
        font-size: 9px;
        margin-bottom: 20px;
    }
    
    .pgp-key {
        font-size: 10px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .pgp-link {
        font-size: 10px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #bio p {
        margin-bottom: 10px;
    }

    #location-description {
        display: none;
    }
}

@media screen and (max-width: 767px) {

    #content {
        width: 100%;
    }

    #pgp-info {
        display: none;
    }

    #pictures {
        display: none;
    }

    #pgp-info-compact {
        display: block;
    }

    #pgp-info-compact h1 {
        text-align: center;
        font-size: 2em;
    }

    .pgp-key {
        font-size: 1.25em;
        text-align: center;
        padding: .5em;
        margin-bottom: 0;
    }

    #pictures-compact-container {
        display: block;
    }

    #nav-wrapper {
        text-align: center;
    }

    #nav-wrapper h1 {
        text-align: center;
        font-size: 2.5em;
    }

    #nav {
        text-align: center;
    }

    #nav li {
        display: inline-block;
        margin-left: 5%;
        margin-right: 5%;
    }

    #theme-change-top-row {
        display: block;
    }

    #theme-change-bottom-row {
        display: none;
    }

    .theme-change {
        font-size: 1em;
        position: static;
        text-align: center;
        padding-bottom: 30px;
    }

    .tall-box-fixed {
        height: auto;
    }
}

/*
* light blue: #b5ebf2;
* dark blue: #64b0ff;
* pink: #FFCCC5;
*/

/*
* bionic sky: #64b0ff;
*
*
*/
