@font-face {
    font-family: 'PressStart2P';
    src: url("../fonts/PressStart2p.ttf");
}

* {
    box-sizing: border-box;
} 

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
    clear: both;
}

body {
    font-size: 12px;
    font-family: 'PressStart2P', serif;
    color: #565656;
    background-color: #FFCCC5;
}

#content {
    width: 960px;
    margin: 30px auto;
}

header {
    height: 60px;
    background: url("../img/blue-pink-sky.png") repeat center center;
    background-size: 300px 60px;
}

footer {
    height: 100px;
    background: url("../img/street.png") repeat center center;
    background-size: 300px 100px;
    padding-top: 70px;
}

.box {
    width: 100%;
    margin-bottom: 30px;
    padding: 5px;
    border: 20px solid black;
    border-image: url("../img/blue-border.png");
    border-image-slice: 30 36 36 30;
    border-image-repeat: repeat;
}

.text-content {
    line-height: 1.5;
}

#headshot img {
    width: 40%;
    float: left;
    margin-right: 10px;
}

#location-wrapper {
    text-align: center;
}

#location-map {
    overflow: hidden;
}

#location-map img {
    width:100%;
}

#location-description {
    color: #868686;
    font-size: .6em;
    margin-top: 10px;
    margin-bottom: 5px;
}

#schedule ul {
    list-style: none;
    font-size: 1.25em;
    padding: 0;
    margin: 0;
}

#schedule .date {
    display: inline-block;
    font-size: .75em;
}

#schedule .title {
    display: inline-block;
    font-weight: bold;
}

#schedule .past {
    color: #868686;
}

#links ul {
    list-style: none;
    margin-top: 5px;
    line-height: 1.25;
}

footer {
    text-align: center;
}

.side-nav {
    margin-top: 15px;
    padding: 10px;
    list-style: none;
}

.side-nav li {
    margin-bottom: 10px;
}

.side-nav li.active::before {
    position: absolute;
    margin-left: -25px;
    margin-top: 3px;
    background-image: url('../img/white-arrow.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
}

.side-nav a {
    font-size: 1.75em;
    text-decoration: none;
    color: #FFF;
}

.side-nav a:visited {
    color: #FFF;
}

.nav-content .nav-pane {
    display: none;
}

.nav-content .active {
    display: inline-block;
}

@media screen and (max-width: 960px) {
    #content {
        width: 100%;
    }
}
