* {
    box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
    clear: both;
}

body {
    font-family: 'Lora', serif;
    color: #565656;
}

#content {
    width: 960px;
    margin: 5px auto;
    border: 1px solid #76323F;
    background-color: #DCCEC7;
    border-radius: 3px;
}

header {
    text-align: center;
}

header ul {
    list-style: none;
    float: right;
    margin-right: 1em;
}

header ul li {
    display: inline-block;
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    color: #76323F;
    margin-left: 0;
    padding-left: 0;
    padding-right: .2em;
    margin-right: .1em;
    border-right: 1px solid #C6929F;
    cursor: pointer;
}

header ul li:last-child {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
}

header ul li.selected {
    background-color: #ECDED7;
}

.box {
    width: 400px;
    height: 300px;
    border: 1px solid #76323F;
    margin: 5px;
    box-shadow: 2px 2px 5px #56120F;
    border-radius: 3px;
    float: left;
}

#headshot img {
    width: 160px;
    height: 160px;
    float: left;
    margin: .5em;
}

#slideshow-container {
    text-align: center;
}

#slideshow img {
    border-radius: 3px;
}

#slideshow .captionWrapper {
    padding-left: 5px;
    font-family: 'Lora', serif;
}

#location {
    padding: .5em;
    text-align: center;
}

#location-map {
    width: 360px;
    height: 200px;
    margin: .5em auto;
    background: url("../img/map.png") no-repeat center center;
    background-size: 100%;
}

#location-description {
    color: #868686;
    font-size: .75em;
}

#schedule ul {
    list-style: none;
    font-size: 1.25em;
    padding: 0;
    margin: 0;
}

#schedule ul li {
    margin: .5em;
}

#schedule .date {
    display: inline-block;
    font-size: .75em;
}

#schedule .title {
    display: inline-block;
    font-weight: bold;
}

#schedule .past {
    color: #868686;
}

footer {
    text-align: center;
}

/*
Palette:
Grain: #DCCEC7;
Blackboard: #565656;
    #868686
Oxblood: #76323F;
Tan: #C09F80;

font-family: 'Proza Libre', sans-serif;
font-family: 'Lora', serif;

*/